<nav
  class='navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between'
>
  {{#if currentUser}}
    <a class='navbar-brand' href='/dashboard'>Research Tracker</a>
  {{else}}
    <a class='navbar-brand' href='/'>Research Tracker</a>
  {{/if}}
  <div class='d-flex justify-content-end'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item active d-flex'>
        {{#if currentUser}}
          <a class='nav-link' href='/dashboard'>Home</a>
          <a class='nav-link' href='/source'>Sources</a>
          <a class='nav-link' href='/citations'>Citations</a>
          <a class='nav-link' href='/logout'>Sign out</a>
        {{else}}
          <a class='nav-link' href='/'>Home</a>
          <a class='nav-link' href='/signup'>Sign Up</a>
          <a class='nav-link' href='/login'>Log in</a>
        {{/if}}
      </li>
    </ul>
  </div>
</nav>
{{#if sessionFlash}}
  <div
    class='alert alert-{{sessionFlash.type}} alert-dismissible fade show'
    role='alert'
  >
    {{sessionFlash.message}}
    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
{{/if}}