<div>
  <a href='/citations/new'>Add Citation</a>
  {{#each citations}}
    <div class='border m-2' id='sourceContainer'>
      <a href='/citations/{{this.id}}'><h2>{{this.title}}</h2></a>
    </div>
  {{/each}}
</div>