<form method='POST' action='/source/new'>
  <fieldset>
    <legend>"Add new source"</legend>
    <p>
      <label for='title'>Source Title</label><br />
      <input type='text' id='title' name='title' required />
    </p>
    <p>
      <label for='authorFirstName'>Author's First Name</label><br />
      <input type='text' id='authorFirstName' name='authorFirstName' required />
    </p>
    <p>
      <label for='authorLastName'>Author's Last Name</label><br />
      <input type='text' id='authorLastName' name='authorLastName' />
    </p>
    <p>
      <label for='publishDate'>Date Published</label><br />
      <input type='date' id='publishDate' name='publishDate' required />
    </p>
    <p>
      <label for='publishedBy'>Publisher</label><br />
      <input type='text' id='publishedBy' name='publishedBy' />
    </p>
    <p>
      <label for='edition'>Edition</label><br />
      <input type='number' id='edition' name='edition' />
    </p>
    <p>
      <label for='volume'>Volume</label><br />
      <input type='number' id='volume' name='volume' />
    </p>
  </fieldset>

  <p>
    <button type='submit'>{{buttonText}}</button>
  </p>
</form>